<template>
    <div class="col-7 px-0" style="width: 100%; ">
        <div class="container mt-5 ml-5">
                        <h1 class="h3 my-auto mt-5 ml-5 font-weight-normal" style="font-family: 'Langar', cursive;">InnetSchools Messagerie</h1>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>
